<nav class="navbar">
    @* <div class="nav-i">
        <NavLink class="navlink" href="" Match="NavLinkMatch.All">
            <span class="nav-i" aria-hidden="true"></span> Home
        </NavLink>

    </div>
    <div class="nav-i">
        <NavLink class="navlink" href="searchnumber">
            <span class="nav-item" aria-hidden="true"></span> Search number
        </NavLink>
    </div> *@
    <div class="navdiv">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="searchnumber">Search number</a></li>
        </ul>
    </div>

</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu(){
        collapseNavMenu = !collapseNavMenu;
    }
}
